<mat-stepper orientation="vertical"  class="endorseMatStepper">
  <mat-step>
    <ng-template matStepLabel></ng-template>
    <ng-template matStepContent>
      <div class="endorseMatStepContentContainer">
        <mat-form-field appearance="outline" class="endorseAmmendmentfld">
          <mat-label>Use&nbsp;Template&nbsp;For:</mat-label>
            <mat-select>
                <mat-option value="Ammendment">Ammendment</mat-option>
                <mat-option>Ammendment</mat-option>
                <mat-option>Ammendment</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="endorseTextAreafld">
          <mat-label>To:</mat-label>
          <input matInput value="(AIPC) AISA INSURANCE (PHILIPPINES) CORPORATION - MAIN">
        </mat-form-field>

        <mat-form-field appearance="fill" class="endorseTextAreafld">
          <mat-label>Verified By:</mat-label>
          <input style="height: 80px;" matInput value="29/F, CHATHAM HOUSE, 116 VALERO CORNER V.A FUNINO STS., SALCEDO VILLAGE MAKATI CITY PHILIPPINES 1227">
        </mat-form-field>

        <mat-form-field appearance="outline" class="endorseTextAreafld">
          <mat-label>Attention:</mat-label>
            <mat-select>
                <mat-option value="Ms.Rizza M. Arciaga">Ms.Rizza M. Arciaga</mat-option>
                <mat-option>Ms.Rizza M. Arciaga</mat-option>
                <mat-option>Ms.Rizza M. Arciaga</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="endorseTextAreafld">
          <input matInput value="">
        </mat-form-field>

        <mat-form-field appearance="fill" class="endorseTextAreafld">
          <mat-label>From:</mat-label>
          <input matInput value="">
        </mat-form-field>

        <mat-form-field appearance="fill" class="endorseTextAreafld">
          <input matInput value="">
        </mat-form-field>
    </div>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel></ng-template>
    <ng-template matStepContent>
    </ng-template>
  </mat-step>

</mat-stepper>